<a href="https://colab.research.google.com/github/saketh0007/saketh/blob/master/pyhton_3%2C4%2C5%2C6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hi')

Hi

###Mutable :
* Change the value at same memory kocation 
* Methods to add,update and delete 
<hr>
###Immtable:
* Can not change the value at the same mem location
* No methods to add update and delete 
<hr>

Mutable
1.   List
2.   Set
3.   Dict

<hr>

Immutable
1.   Tupple
2.   Str
3.   float
4.   bool
5.   int
 
<hr>
### Iterable Data types:
* List
* set
* Tupple
* Str
* Dict 

1.   List item
2.   List item



<hr>
Non-Iterable data types
* Int 
* Float
* Bool

In [3]:
#Looping Statements 
chars = 'abcde'
for char in chars:
    if char in["a",'e','i','o','u']:
        print('Vowel')
    else:
        print('consonent')

Vowel
consonent
consonent
consonent
Vowel

In [13]:
l = [10,15,20,25,35,40,45]
for value in l:
    if value % 2 == 0:
        print(value ,'is even', value**2,'\n')
    else:
        print(value,'value is odd',value**3,'\n')

10 is even 100

15 value is odd 3375

20 is even 400

25 value is odd 15625

35 value is odd 42875

40 is even 1600

45 value is odd 91125

In [16]:
l = [10,20,30,40,50]
sum = 0 
for value in l:
    sum = sum+value 
    print('During Iteration ----->',sum)
print(sum)

During Iteration -----> 10
During Iteration -----> 30
During Iteration -----> 60
During Iteration -----> 100
During Iteration -----> 150
150

In [19]:
sum = 0
num = 6
possible_devisors = [1,2,3,4,5,]
for value in possible_devisors:
    if num % value  == 0:
        sum = sum+value
print(sum)
if num == sum:
    print('perfect number')
else:
    print('not a perfect number')

6
perfect number

In [20]:
# Enumerate we will get access to index and value

In [24]:
l = [10,20,30,40,50,60,70]
key = 600
flag = False
for value in l:
    if key == value:
        flag = True 
        break #Linear search 
    else:
        continue
if flag:
    print('element is present')
else :
    print('element is not present')

element is not present

In [25]:
#in python we dont use flag 
for index,value in enumerate(l):
    if key == value:
        print('element is present')
        break
else: 
    print('element is not present') # look at the indentation

element is not present

# Session 6

In [27]:
sum = 0 
sum = sum +10 
sum = sum + 20
sum = sum + 30
print(sum)

60

In [31]:
max = 0 
for value in l :
    if value > max: 
        max = value 
        print('in iteration -------->',max)

print(max)

in iteration --------> 10
in iteration --------> 20
in iteration --------> 30
in iteration --------> 40
in iteration --------> 50
in iteration --------> 60
in iteration --------> 70
70

In [39]:
# Finding max1 and max 2
l = [10,20,30,40,50,60,70]

max1= 0 
max2 = 0 
for value in l:
    if value > max1 and value > max2:

        max2 = max1
        max1 = value 
    elif value < max1 and value > max2:
        max2 = value 
print(max1,max2)

70 60

In [44]:
for value1 in range (1,11):
    for value2 in range(1,6):
        print(value1,value2, end = '\t')
        print(value1*value2,end = '\t')

1 1	1	1 2	2	1 3	3	1 4	4	1 5	5	2 1	2	2 2	4	2 3	6	2 4	8	2 5	10	3 1	3	3 2	6	3 3	9	3 4	12	3 5	15	4 1	4	4 2	8	4 3	12	4 4	16	4 5	20	5 1	5	5 2	10	5 3	15	5 4	20	5 5	25	6 1	6	6 2	12	6 3	18	6 4	24	6 5	30	7 1	7	7 2	14	7 3	21	7 4	28	7 5	35	8 1	8	8 2	16	8 3	24	8 4	32	8 5	40	9 1	9	9 2	18	9 3	27	9 4	36	9 5	45	10 1	10	10 2	20	10 3	30	10 4	40	10 5	50

In [45]:
for value1 in range (1,11):
    for value2 in range(1,6):
        #print(value1,value2, end = '\t')
        print(value1*value2,end = '\t')

1	2	3	4	5	2	4	6	8	10	3	6	9	12	15	4	8	12	16	20	5	10	15	20	25	6	12	18	24	30	7	14	21	28	35	8	16	24	32	40	9	18	27	36	45	10	20	30	40	50

In [49]:
for value1 in range (1,11):
    for value2 in range(1,6):
        #print(value1,value2, end = '\t')
        print(value1*value2,end = '\t')
    print('\n')

1	2	3	4	5

2	4	6	8	10

3	6	9	12	15

4	8	12	16	20

5	10	15	20	25

6	12	18	24	30

7	14	21	28	35

8	16	24	32	40

9	18	27	36	45

10	20	30	40	50

In [53]:
print(10,'hi',end = '\t',sep=';')
print('python')
print("1,2,33")

10;hi	python
1,2,33

In [54]:
print(10,'hi',end = '\t',sep=';')
print('abcd')
print('python')
print("1,2,33")

10;hi	abcd
python
1,2,33

In [56]:
for value1 in range(1,5):
    for value2 in range(100,103):
        print(value1,value2)

1 100
1 101
1 102
2 100
2 101
2 102
3 100
3 101
3 102
4 100
4 101
4 102

In [58]:
s = 'Python sample string'
for value in s:
    print(value)

P
y
t
h
o
n

s
a
m
p
l
e

s
t
r
i
n
g

In [59]:
s = 'Python sample string'
for value in s:
    print(value,end = '\t')

P	y	t	h	o	n	 	s	a	m	p	l	e	 	s	t	r	i	n	g

In [61]:
s = 'Python sample string'
for value in s:
    print(value,sep=',')

P
y
t
h
o
n

s
a
m
p
l
e

s
t
r
i
n
g

In [62]:
s = 'Python sample string'
for value in s:
    print(value,end='\t',sep=';')

P	y	t	h	o	n	 	s	a	m	p	l	e	 	s	t	r	i	n	g

In [63]:
l = (10,20,'python',40)
for value in l:
    print(value)

10
20
python
40

In [65]:
d = {1:1,2:4,3:9} #dict
for x in d:
    print(x)

1
2
3

In [66]:
sum = 0
count = 1 

while count <= 20:
    sum = sum + count 
    count+=1
    
print(sum)

210